body {
    background-color: #f5edb2;
}

#header {}

#title {
    background-color: #c6f3bf;
    color: #008080;
    font-size: 3.75rem;
    text-align: center;
}

#content {}

.AddModal {
    background: red;
    display: none;
    height: fit-content;
}

.Show-Modal {}

#list {
    font-size: 16px;
}

#OpenModal {
    position: fixed;
    bottom: 25;
    right: 25;
    width: 125px;
    height: 125px;
}