body {
    background-color: #b8d5b8;
    color: black;
}

#header {}

#title {
    background-color: #05a88a;
    color: #d7b49e;
    font-size: 5em;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

#content {
    margin-left: 5px;
    margin-right: 5px;
}

.AddModal {
    display: none;
    height: fit-content;
}

#GroceryItem {
    height: 100px;
    width: 600px;
    font-size: 3.5rem;
    color: lightgray;
    margin-top: 20px;
    border-radius: 25px;
    border-color: black;
}

#AddButton {
    float: right;
    background-color: #bc412b;
    width: 150px;
    height: 75px;
    margin-top: 20px;
    margin-right: 100px;
    text-align: center;
    border-radius: 90px;
    border: black;
}

#AddButton p {
    color: black;
    font-size: 2.5em;
    margin: 12px;
}

#GroceryList {
    font-size: 5em;
}

#OpenModal {
    position: fixed;
    bottom: 25;
    right: 25;
    width: 125px;
    height: 125px;
}

.found {
    text-decoration: line-through;
}

table {
    font-size: 5em;
    width: 100%;
}

.QtyChange {
    float: right;
}

.QtyUp {
    width: 0px;
    height: 0px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid black;
}

.QtyDown {
    width: 0px;
    height: 0px;
    border-top: solid 75px black;
    border-left: solid 75px transparent;
    border-right: solid 75px transparent;
    margin-top: 10px;
}