body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    overflow:hidden;
    font-family:'ubuntu';
    font-size:3em;

}
main{
    max-width:700px;
    height:100%;
    display:grid;
    grid-template-rows: 95% 5%;
    justify-self: center;
}
nav{
    max-width:900px;
    justify-self: center;
}
#ItemControl{
    overflow:auto;
}
#list{
    display: grid;
    grid-auto-rows: auto;
    border-bottom: 2px solid black;
}
.items{
    display:grid;
    grid-template-columns: 20px 500px 65px 115px;
    padding-bottom:10px;
}
.left{
    position:absolute;
    right: 0px;
    top:0px;
}
.object{
    position: relative;
}
.quantity {
    position:relative;
    border-left: #0e7777 solid 1px;
}
.product{
    display:inline-block;
}
.quantityValue{
    display:inline-block;
}
.foundBox{
    border: 1px solid black;
    width: 4px;
}
.found{
    border-bottom: 1px solid black;
    height:50%;
    width:100%;
}
#cart{
    background-color: grey;
}
.editButton{
    margin-left: 5px;
}
.hiddenColumn{
    /*display:none;*/
}
.modalBox{
    display:grid;
    max-width:700px;
    position:fixed;
    width:100%;
    height:100%;
    visibility:hidden;
    background-color:darkslategrey;
}
#modalContent{
    display:grid;
    grid-template-columns:auto auto;

    justify-self:center;
    position:absolute;
    top:50%;
    background-color:white;
}
#modal-input{
    display:inline-block;
}
.visible{
    visibility:visible;
}
#titles{
    display: grid;
    grid-template-columns: auto;
    justify-self:center;
    position:absolute;
    top:50%;
    width:350px;
    background-color: white;
}
.titleItem {
    display: grid;
    grid-template-columns: 50px 300px;
    padding-bottom: 10px;
}
#bottomNav{
    justify-self:center;
}
.categoryHeader {
    font-weight: bold;
}