    body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    overflow: hidden;
    font-family: 'ubuntu';
    font-size: 3em;
    /*background-color:floralwhite;*/
}

main {
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 95% 5%;
    justify-self: center;
}

nav {
    max-width: 800px;
    width: 100%;
    justify-self: center;
}

select {
    font-size: .75em;
}

input {
    font-size: .75em;
    width: 240px;
}

input[type=checkbox] {
    transform: scale(2.5, 2.5);
    width: 100%;
    margin-top: 18px;
}

button {
    font-size: .75em;
    margin-top: 5px;
    width: 120px;
    /*transform:scale(2,2);*/
}

form {
    display: grid;
    grid-template-columns: auto auto;
}

label {
    font-size: 1.25em;
    margin: 10px;
}

.editButton {
    justify-self: center;
    /*width:60px;*/
}

.deleteButton {
    justify-self: center;
    /*width: 60px;*/
}

#foodButton {
    max-width: 800px;
    width: 100%;
}

.num {
    width: 40px;
}

#ItemControl {
    overflow: auto;
}

#listControl {
    visibility: hidden;
}

#listWelcome {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    /*visibility:hidden;*/
    /*display:none;*/
}

#welomeBanner {
    float: right;
}

#welcomeTitle {
    font-size: 2.5em;
    place-self: center;
}

#loginControl {
    float: right;
}

#list {
    display: grid;
    grid-auto-rows: auto;
    border-bottom: 2px solid black;
}

.items {
    display: grid;
    grid-template-columns: 50px 435px 215px;
    padding-bottom: 5px;
    border: blueviolet solid 1px;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.75);
    justify-self: center;
}

.left {
    margin-left: 10px;
    font-size: .75em;
}

.object {
    position: relative;
}

.quantity {
    position: relative;
    border-left: #0e7777 solid 1px;
}

.product {
    display: inline-block;
}

.quantityValue {
    display: inline-block;
}

.foundBox {
    border: 1px solid black;
    width: 4px;
}

.found {
    border-bottom: 1px solid black;
    height: 50%;
    width: 100%;
}

#cart {
    background-color: grey;
}

.hiddenColumn {
    display: grid;
}

.modalBox {
    display: grid;
    max-width: 800px;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: darkslategrey;
}

#modalContent {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
    position: absolute;
    top: 25vh;
    background-color: white;
}

#modal-input {
    display: inline-block;
}

#editItemQuantity {
    width: 160px;
}

#updateEdit {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.visible {
    visibility: visible;
}

#titles {
    display: grid;
    grid-template-columns: auto;
    justify-self: center;
    position: absolute;
    top: 25vh;
    width: 350px;
    background-color: white;
}

.titleItem {
    display: grid;
    grid-template-columns: 50px 300px;
    padding-bottom: 10px;
}

#bottomNav {
    justify-self: center;
}

.categoryHeader {
    margin-bottom: 10px;
    font-weight: bold;
}

@media(min-width:1024px) {
    body {
        display: grid;
        grid-template-rows: 10vh 90vh;
        overflow: hidden;
        font-family: 'ubuntu';
        font-size: 2em;
    }
    button {
        margin-top: 10px;
        transform: scale(1.25, 1.25);
    }
    #foodButton {
        float: right;
        /*margin-right: 30px;*/
        transform: scale(1, 1);
    }
    #updateEdit {
        transform: scale(1, 1);
    }