body {
    height: 200px;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "title" "content" "menu";
    font-size: 2em;
    color: #c4a396;
}

main {
    background-color: #004c45;
    overflow-y: scroll;
}

select {
    width: 100%;
    font-size: 1em;
}

.bar {
    background-color: #c44143;
    box-shadow: 0px 6px 7px -1px black;
    z-index: 1;
}

.bar_bottom {
    background-color: #c44143;
    box-shadow: 0px -6px 7px -1px black;
    z-index: 1;
}

.item_card {
    background-color: #1f0027;
    border-radius: 25px;
    padding-left: 25px;
    width: 50vw;
    height: 20vh;
    box-shadow: 3px 4px 11px 0px black;
    transform-style: preserve-3d;
}

#content_list {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 25px;
    padding: 25px;
    border-radius: 25%;
    justify-content: center;
}

.flip {
    transition: all 1s ease;
    transform: rotateY(180deg);
}

.back {
    transition: all 1s ease;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.front {
    backface-visibility: hidden;
}